
#ChatPanel {
	flex-basis: 100%;
	border: 2px solid red;

	display: flex;
	flex-direction: column;

	> ul {
		flex: 2;
		padding: 5px;
		overflow-x: hidden;

		> li {
			list-style: none;
			word-break: break-all;

			.username {
				color: lightgrey;

				&:after {
					content: ':';
				}
			}

			.timestamp {
				display: none;
			}
		}
	}

	textarea {
		resize: none;
	}
}
