
#Header {
	position: relative;
	width: 100%;
	font-size: 22px;
	display: flex;
	flex-flow: row;
	z-index: 1; /* Allows UserMenu to go overtop of the main-bar */
	background-color: green;

	> * {
		margin-top: 5px;
		margin-right: 10px;
	}

	> .fa {
		margin: 3px 0px;
		padding: 8px 10px;
	}

	> .pull-right {
		margin-left: auto !important;
		margin-right: 15px;
	}

	> div {
		margin-top: 0;

		span {
			margin-top: 8px;
		}
	}

	a {
		color: #333;
	}
}
