
body {
	margin: 0;
	height: 100%;
	display: flex;
	flex-direction: column;

	> .main-bar {
		flex: 1 1 100%;
		display: flex;
		flex-flow: row;

		> .main-panel {
			flex: 1 1 100%;
			background-color: lightgrey;
			display: flex;
			flex-direction: row;

			> * {
				flex: 1;
			}
		}
	}

	> .footer {
		display: none; /* Delete this if you want a footer! */
		background-color: yellow;
	}
}

/* === Utilities === */

.dropdown-menu > li {
	padding: 0 10px;
}

.disabled {
	color: grey;
}
