
body {
	margin: 0;
	height: 100%;
	display: flex;
	flex-direction: column;

	.header, .footer {
		position: relative;
		font-size: 22px;
		display: flex;
		flex-flow: row;
		z-index: 1; /* Allows UserMenu to go overtop of the main-bar */
	}

	.header {
		background-color: green;
	}
	.footer {
		display: none; /* Delete this if you want a footer! */
		background-color: yellow;
	}


	.main-bar {
		flex: 1 1 100%;
		display: flex;
		flex-flow: row;

		.left-side-bar,
		.right-side-bar {
			/*position: absolute;*/
			overflow: hidden;
			flex: 0 0 210px;
			background-color: blue;

			&.hidden {
				display: flex!important;
				width: 0;
				flex-basis: 0px;
			}
		}

		.main-panel {
			flex: 1 1 100%;
			background-color: gray;
			display: flex;
			flex-direction: row;

			> * {
				flex: 1;
			}
		}
	}
}

/* === Utilities === */

.dropdown-menu > li {
	padding: 0 10px;
}

.disabled {
	color: grey;
}
