
body {
	margin: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#top-bar, #bottom-bar {
	position: relative;
	height: 30px;
	display: flex;
	flex-flow: row;
	z-index: 1; /* Allows UserMenu to go overtop of the main-bar */

	> * {
		margin-left: 10px;
		margin-right: 10px;
	}

	> .pull-right {
		margin-left: auto !important;
	}
}

#top-bar {
	background-color: green;
}
#bottom-bar {
	background-color: yellow;
	display: none;
}


#main-bar {
	flex: 1 100%;
	display: flex;
	flex-flow: row;

	#left-side-bar,
	#right-side-bar {
		flex-grow: 0;
		width: 210px;
		background-color: blue;

		&.hidden {
			width: 0;
		}
	}

	> * { /* #MainPanel */
		flex-grow: 2;
		background-color: gray;
	}
}
